USE [master]
GO
/****** Object:  Database [GuvenlikDb]    Script Date: 1.06.2022 18:48:11 ******/
CREATE DATABASE [GuvenlikDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GuvenlikDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GuvenlikDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GuvenlikDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GuvenlikDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GuvenlikDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GuvenlikDb]
GO
/****** Object:  Table [dbo].[GKatagori]    Script Date: 1.06.2022 18:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GKatagori](
	[KatagoriId] [int] IDENTITY(1,1) NOT NULL,
	[KatagoriAdi] [varchar](50) NULL,
 CONSTRAINT [PK_GKatagori] PRIMARY KEY CLUSTERED 
(
	[KatagoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMusteri]    Script Date: 1.06.2022 18:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMusteri](
	[MusteriId] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [varchar](50) NULL,
	[Mail] [varchar](50) NULL,
	[Telefon] [varchar](50) NULL,
	[Adres] [varchar](50) NULL,
 CONSTRAINT [PK_GMusteri] PRIMARY KEY CLUSTERED 
(
	[MusteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GPersonel]    Script Date: 1.06.2022 18:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPersonel](
	[PersonelId] [int] IDENTITY(1,1) NOT NULL,
	[PerAdSoyad] [varchar](50) NULL,
	[PerMail] [varchar](50) NULL,
	[PerTel] [varchar](50) NULL,
	[PerAdres] [varchar](50) NULL,
	[KatagoriId] [int] NULL,
 CONSTRAINT [PK_GPersonel] PRIMARY KEY CLUSTERED 
(
	[PersonelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GSiparis]    Script Date: 1.06.2022 18:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GSiparis](
	[SiparisId] [int] IDENTITY(1,1) NOT NULL,
	[MusteriId] [int] NULL,
	[PersonelId] [int] NULL,
 CONSTRAINT [PK_GSiparis] PRIMARY KEY CLUSTERED 
(
	[SiparisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GPersonel]  WITH CHECK ADD  CONSTRAINT [FK_GPersonel_GKatagori] FOREIGN KEY([KatagoriId])
REFERENCES [dbo].[GKatagori] ([KatagoriId])
GO
ALTER TABLE [dbo].[GPersonel] CHECK CONSTRAINT [FK_GPersonel_GKatagori]
GO
ALTER TABLE [dbo].[GSiparis]  WITH CHECK ADD  CONSTRAINT [FK_GSiparis_GMusteri] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[GMusteri] ([MusteriId])
GO
ALTER TABLE [dbo].[GSiparis] CHECK CONSTRAINT [FK_GSiparis_GMusteri]
GO
ALTER TABLE [dbo].[GSiparis]  WITH CHECK ADD  CONSTRAINT [FK_GSiparis_GPersonel] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[GPersonel] ([PersonelId])
GO
ALTER TABLE [dbo].[GSiparis] CHECK CONSTRAINT [FK_GSiparis_GPersonel]
GO
USE [master]
GO
